<mat-toolbar color="primary" id="navbar">
  <button mat-icon-button (click)="router.navigate(['/dashboard/users'])">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="router.navigate(['dashboard/appointments'])">
    <mat-icon>event</mat-icon>
  </button>

  <button mat-icon-button (click)="router.navigate(['dashboard/ratings'])">
    <mat-icon>star</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>